*
!README.md
!.gitignore
!.gitattributes
!.github/
!.github/workflows/
!.github/workflows/**

!blog/
!blog/build.sh
!blog/local-serve.sh
!blog/index.html
!blog/package.json
!blog/style.css
!blog/tsconfig.json

!blog/posts/

!blog/posts/post-a/
!blog/posts/post-a/**
